<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Магазин</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->

    <link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/i18n/ru.js"></script>

    <script>

        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>


    <style>
        .btn-w100 {
            width: 100%;
            font-size: 20px;
        }

        .form-inline .form-control {
            width: 100%;
        }

        .table .thead-dark th {
            color: #fff;
            background-color: #6c757d;
            border-color: #474d52;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
        }

        .select2-container--default .select2-selection--single {
            height: 36px;
        }


        /* .select2-container .select2-selection--single {
            height: 36px;
            line-height: 1.5;

         }

         .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding: .375rem .75rem;
         }

         .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
         }*/


    </style>

</head>
<body style="line-height: 1">
<div class="row-flex shadow p-3  bg-white rounded">
    <div class="row ">
        <div class="col-md-2"><a class="btn btn-info" href="/main" role="button">Главная</a>
        </div>
        <div class="col-md-2 offset-md-8 ">
            <form action="/logout" method="post" class="form-group text-right ">
                <input name="_csrf" type="hidden" value="{{_csrf.token}}"/>
                <div class="text-right"><input type="submit" value="Выйти" class="btn btn-secondary"/></div>
            </form>


        </div>
    </div>

    <script>
        var productList = '';
    </script>
    <div class="row">
        <div class=" col-md-1"></div>
        <div class=" col-md-10">

            <form method="post" class="form-inline" action="/reportShopReceipt">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

                <div class=" col-md-6" style="display: none"><input type="text" name="author"
                                                                    value="{{currentUserName}}" class="form-control">
                </div>
                <div class=" col-md-3"><input type="date" class="form-control" value="{{dateFrom}}"
                                              name="dateFrom">
                </div>
                <div class=" col-md-3"><input type="date" class="form-control" value="{{dateTo}}"
                                              name="dateTo">
                </div>
                <div class=" col-md-3">

                    <select class="js-example-basic-single form-control" name="department">
                        {{#departmentList}}
                            <option value="{{.}}">{{.}}</option>
                        {{/departmentList}}

                    </select>

                    <script>
                        $('[name=department]').val("{{department}}");

                    </script>
                </div>


                <div class=" col-md-3">
                    <button type="submit" class="btn btn-success ">Показать</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class=" col-md-4"></div>
        <div class=" col-md-4 text-right">
            <h5>Всего товаров (шт) - {{currentProductCounter}};</h5>
        </div>
        <div class=" col-md-4 text-right">

            <h5>Всего на сумму (BYN) - {{currentSummCost}}</h5>
        </div>
    </div>
    <script>
        function copyDateValue() {
            if (document.getElementsByName('selectedDate')[0].value == "") {
                document.getElementsByName('today')[0].value = "2000-01-01"
            } else {
                document.getElementsByName('today')[0].value =
                        document.getElementsByName('selectedDate')[0].value;
            }

        }
    </script>

    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table table-striped table-hover centered table-sm">


                <thead class="thead-dark">
                <th>Номер чека</th>
                <th>Подразделение</th>

                <th>Наименование</th>
                <th>Штрихкод</th>
                <th>Дата-время</th>
                <th>Цена, BYN</th>

                <th>Количество</th>
                <th>Скидка,%</th>
                <th>Итого, BYN</th>


                </thead>
                <tbody>
                {{#allReceipt}}
                    <div>


                        <tr style="text-align:left; font-size:18px">

                            <td> {{receiptNumber}} </td>
                            <td> {{storeName}} </td>
                            <td>{{productName}} {{gender}}</td>
                            <td>{{barcode}}</td>
                            <td>{{saleDate}}</td>
                            <td style="text-align: center">{{retailPrice}}</td>

                            <td style="text-align: center"> {{count}}</td>
                            <td style="text-align: center"> {{discount}}</td>


                            <td style="text-align: center">{{cost}}</td>

                            <td style="text-align: center; display: none">{{id}}</td>


                        </tr>
                    </div>
                {{/allReceipt}}
                </tbody>
            </table>

        </div>


    </div>

</div>

</body>

</html>